
<mat-sidenav-container autosize>
  <mat-sidenav #sidenav mode="side" opened="true">
    <mat-nav-list>
        <mat-list-item id="listItems" class="custom-menu-item" style="background-color:#FF7F32;margin-top:-7px;">
        <div id="DashboardList" >
          <span *ngIf="isExpanded"style="font-size:18px;font-weight:700">FlexiCapture</span>
          <mat-icon mat-list-icon class="chevron-button sidenav-button" (click)="isExpanded=!isExpanded" [ngClass]="{'rotated':isExpanded}">keyboard_double_arrow_left</mat-icon>
        </div> 
        </mat-list-item>
        <mat-divider id="dividerColor"></mat-divider>

      <mat-list-item id="listItems" >
        <span mat-icon- [matMenuTriggerFor]="customerMenu" class="custom-menu-buttondd"> 
          <span class="menu-contentdd">
            <mat-icon mat-list-icon id="iconColor">person_apron</mat-icon>
            <span *ngIf="isExpanded" class="menu-item">Customers</span>
            <mat-icon class="arrow-icon">keyboard_arrow_right</mat-icon>
          </span>
        </span>
        <div>
        <mat-menu #customerMenu="matMenu">
          <div style="width:155px;">
          <button mat-menu-item [routerLink]="'/Customers/viewCustomers'" routerLinkActive="active-link" >View List</button>
          <button mat-menu-item [routerLink]="'/Customers/customerOnBoard'" routerLinkActive="active-link" >On Board</button>
          </div>
        </mat-menu>
        </div>
      </mat-list-item>

      <mat-list-item id="listItems" >
        <span mat-icon-button [matMenuTriggerFor]="projectMenu" class="custom-menu-buttondd"> 
          <span class="menu-contentdd">
            <mat-icon mat-list-icon id="iconColor">work</mat-icon>
            <span *ngIf="isExpanded"  class="menu-item">Projects</span>
            <mat-icon class="arrow-icon">keyboard_arrow_right</mat-icon>
          </span>
        </span>
        <mat-menu #projectMenu="matMenu" >
          <div style="width:160px;">
          <button mat-menu-item [routerLink]="'/Projects'" routerLinkActive="active-link" >Project List</button>
          <button mat-menu-item [routerLink]="'/Customers/customerOnBoard'" routerLinkActive="active-link" >On Board</button>
          </div>
        </mat-menu>
      </mat-list-item>
      <mat-divider id="dividerColor"></mat-divider>

      <mat-list-item  [routerLink]="'/Queues'" routerLinkActive="active-link" id="listItems" class="custom-menu-item">
        <span class="menu-content">
          <mat-icon mat-list-icon id="iconColor" class="icon">format_list_numbered_rtl</mat-icon>
          <span class="menu-item" *ngIf="isExpanded"  class="menu-item">Queues</span>
        </span>
      </mat-list-item>

      <mat-list-item  id="listItems" [routerLink]="'/FieldLibrary'" routerLinkActive="active-link" class="custom-menu-item">
        <span class="menu-content">
          <mat-icon mat-list-icon id="iconColor">list_alt_add</mat-icon>
          <span  *ngIf="isExpanded" class="menu-item">Field Library</span>
        </span>
      </mat-list-item>
      <mat-divider id="dividerColor"></mat-divider>

      <mat-list-item [routerLink]="'/PageTypes'" routerLinkActive="active-link" id="listItems" class="custom-menu-item">
        <span class="menu-content">
          <mat-icon mat-list-icon id="iconColor">note_alt</mat-icon>
          <span  *ngIf="isExpanded" class="menu-item">Page Types</span>
        </span>
      </mat-list-item>

      <mat-list-item [routerLink]="'/RejectionReason'" routerLinkActive="active-link" id="listItems" class="custom-menu-item">
        <span class="menu-content">
          <mat-icon mat-list-icon id="iconColor">person_off</mat-icon>
          <span *ngIf="isExpanded" class="menu-item">Reject Reasons</span>
        </span>
      </mat-list-item>

      <mat-list-item [routerLink]="'/OcrEngines'" routerLinkActive="active-link" id="listItems" class="custom-menu-item">
        <span class="menu-content">
          <mat-icon mat-list-icon id="iconColor">qr_code_2_add</mat-icon>
          <span  *ngIf="isExpanded" class="menu-item">OCR Engines</span>
        </span>
      </mat-list-item>
      <mat-divider id="dividerColor"></mat-divider>
      <!-- <mat-list-item [routerLink]="'/Projects'" routerLinkActive="active-link" id="listItems">
        <mat-icon mat-list-icon>handshake</mat-icon>
        <span  *ngIf="isExpanded" class="menu-item">Projects</span>
    </mat-list-item> -->


    <mat-list-item [routerLink]="'/Users'" routerLinkActive="active-link" id="listItems" class="custom-menu-item">
      <span class="menu-content">
        <mat-icon mat-list-icon id="iconColor">group</mat-icon>
        <span  *ngIf="isExpanded" class="menu-item">Users</span>
      </span>
    </mat-list-item>

    <mat-list-item [routerLink]="'/Roles'" routerLinkActive="active-link" id="listItems" class="custom-menu-item">
      <span class="menu-content" >
        <mat-icon mat-list-icon id="iconColor">add_task</mat-icon>
        <span *ngIf="isExpanded"  class="menu-item">Roles</span>
      </span>
    </mat-list-item>
    </mat-nav-list>
  </mat-sidenav>

    <div class="content">
      <!-- <mat-toolbar style="background-color: rgb(234, 230, 230);"> -->
        <!-- <app-bread-crumb></app-bread-crumb> -->
      <!-- </mat-toolbar> -->
      <router-outlet></router-outlet>
    </div>
</mat-sidenav-container>


<!-- <mat-drawer-container class="example-container" >
    <mat-drawer mode="side" [opened]="isSidebarOpen" class="custom-drawer" [class.sidebar-open]="isSidebarOpen">
      
        <mat-nav-list id="#ListDash" style="padding:15px;font-size:larger;background-color:#FF7F32;">
            <mat-icon mat-list-icon>home</mat-icon>
            <span *ngIf="isSidebarOpen" class="menu-item">Dashboard</span>
        </mat-nav-list>
        <mat-divider></mat-divider>
        
        <mat-list-item [routerLink]="'/Roles'" routerLinkActive="active-link" id="listItems">
            <mat-icon mat-list-icon style="margin-top: 3px;">settings_accessibility</mat-icon>
            <span *ngIf="isSidebarOpen"  class="menu-item">Roles</span>
        </mat-list-item>
    
        <mat-list-item [routerLink]="'/Users'" routerLinkActive="active-link" id="listItems">
            <mat-icon mat-list-icon>ios_share</mat-icon>
            <span  *ngIf="isSidebarOpen" class="menu-item">Users</span>
        </mat-list-item>


        <mat-list-item [routerLink]="'/Customers'" routerLinkActive="active-link" id="listItems">
            <mat-icon mat-list-icon>sync_saved_locally</mat-icon>
            <span  *ngIf="isSidebarOpen" class="menu-item">Customers</span>
        </mat-list-item>
        <mat-list-item [routerLink]="'/Customers/customerOnBoard'" routerLinkActive="active-link" id="listItems">
          <mat-icon mat-list-icon>sync_saved_locally</mat-icon>
          <span  *ngIf="isSidebarOpen" class="menu-item">Customer On-Board</span>
      </mat-list-item>
        
        
        <mat-list-item [routerLink]="'/Projects'" routerLinkActive="active-link" id="listItems">
            <mat-icon mat-list-icon>handshake</mat-icon>
            <span  *ngIf="isSidebarOpen" class="menu-item">Projects</span>
        </mat-list-item>

        <mat-list-item [routerLink]="'/OcrEngines'" routerLinkActive="active-link" id="listItems">
          <mat-icon mat-list-icon>diversity_2</mat-icon>
          <span  *ngIf="isSidebarOpen" class="menu-item">OCR Engines</span>
        </mat-list-item>

        <mat-list-item [routerLink]="'/RejectionReason'" routerLinkActive="active-link" id="listItems">
          <mat-icon mat-list-icon>person_off</mat-icon>
          <span  *ngIf="isSidebarOpen" class="menu-item">Reject Reasons</span>
        </mat-list-item>

        <mat-list-item [routerLink]="'/PageTypes'" routerLinkActive="active-link" id="listItems">
          <mat-icon mat-list-icon>supervisor_account</mat-icon>
          <span  *ngIf="isSidebarOpen" class="menu-item">Page Types</span>
        </mat-list-item>
        
        <mat-list-item  id="listItems">
          <mat-icon mat-list-icon>share_off</mat-icon>
          <span  *ngIf="isSidebarOpen" class="menu-item">Queues</span>
        </mat-list-item>

        

        <mat-list-item  id="listItems">
          <mat-icon mat-list-icon>person_raised_hand</mat-icon>
          <span  *ngIf="isSidebarOpen" class="menu-item">Field Library</span>
        </mat-list-item>


    </mat-drawer>
    <mat-drawer-content>
         <button  mat-icon-button (click)="toggleSidebar()">
        <mat-icon>{{ isSidebarOpen ? 'chevron_left' : 'chevron_right' }}</mat-icon>
      </button>
        <router-outlet></router-outlet>
    </mat-drawer-content>
  </mat-drawer-container> -->


   <!-- <mat-expansion-panel>
                <mat-expansion-panel-header>
                  <mat-panel-title>
                    Dropdown
                  </mat-panel-title>
                </mat-expansion-panel-header>
                  <mat-option value="option1">Option 1</mat-option>
                  <mat-option value="option2">Option 2</mat-option>
              </mat-expansion-panel>
          </mat-nav-list>    -->