<!-- 
  <nav aria-label="breadcrumb">
    <ol class="breadcrumb">
      <li class="breadcrumb-item"><a href="#">Home</a></li>
      <li class="breadcrumb-item"><a href="#">Library</a></li>
      <li class="breadcrumb-item active" aria-current="page">Data</li>
    </ol>
  </nav> -->

  <div class="breadcrumb">
    <ng-container *ngFor="let breadcrumb of breadcrumbs; let last = last">
      <ng-container *ngIf="!last; else lastItem">
        <a [routerLink]="breadcrumb.url">{{ breadcrumb.label }}</a> >
      </ng-container>
      <ng-template #lastItem>{{ breadcrumb.label }}</ng-template>
    </ng-container>
  </div>