
.chkbx{
    font-size: 14px;
}

.slider-container {
    position: relative;
    width: 300px;
  }
  
  .slider {
    width: 100%;
    -webkit-appearance: none;
    appearance: none;
    height: 10px;
    border-radius: 5px;
    background: #ddd;
    outline: none;
    margin-top: 10px;
  }
  
  .slider::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 30px;
    height: 30px;
    border-radius: 50%;
    background: #3498db;
    cursor: pointer;
  }
  
  .slider-value {
    position: absolute;
    top: -30px;
    left: 50%;
    transform: translateX(-50%);
  }
  

 
   .custom-slider .ngx-slider .ngx-slider-pointer {
  
    background-color: #333 !important;
  
  }

  
