<div class="container mt-2">
    <form [formGroup]="formGroup">
        <div class="row">
            <div class="col-md-12">
              <mat-form-field appearance="fill" id="txtFormElements">
                <mat-label>Select Form</mat-label>
                <mat-select formControlName="selectedForm" (selectionChange)="formSelection($event.value)">
                  <mat-option *ngFor="let item of allForms" [value]="item.pageTypeCode">
                    {{ item.pageTypeCode }}
                  </mat-option>
                </mat-select>
              </mat-form-field>
            </div>
          </div>
          <div class="row">
            <div class="col-md-12 d-flex align-items-center">
            
                <mat-form-field appearance="fill" id="txtFormElements" class="flex-grow-1">
                    <mat-label>Select Form Fields</mat-label>
                    <mat-select formControlName="selectedItem" (selectionChange)="addItem($event.value)" [disabled]="disable">
                      <ng-container *ngIf="!isNewItemSelected">
                        <mat-option value="addNew" style="color:#1D4F91;">
                          <mat-icon style="margin-right: 4px;">add_circle</mat-icon> <small>Add New Field</small>
                        </mat-option>
                      </ng-container>
                      <mat-option *ngFor="let item of allfields" [value]="item.fieldName">
                        {{ item.fieldName }}
                      </mat-option>
                    </mat-select>
                  </mat-form-field>

            </div>
            </div>

            <div class="card">   
                <div class="card-body">
                    <table mat-table [dataSource]="dataSource">
                        <!-- Name FieldName -->
                        <ng-container matColumnDef="fieldName">
                            <th mat-header-cell *matHeaderCellDef style="width:15%;"> Field Name </th>
                            <td mat-cell *matCellDef="let element" style="width:15%;"> {{element.fieldName}} </td>
                        </ng-container>
        
                        <!-- FieldLabel Column -->
                        <ng-container matColumnDef="fieldLabel">
                            <th mat-header-cell *matHeaderCellDef style="width:10%;"> Label </th>
                            <td mat-cell *matCellDef="let element" style="width:10%;"> {{element.fieldLabel}} </td>
                        </ng-container>
        
                        <!-- Name Placeholder --> 
                        <ng-container matColumnDef="placeholder">
                            <th mat-header-cell *matHeaderCellDef style="width:10%;"> Placeholder </th>
                            <td mat-cell *matCellDef="let element" style="width:10%;"> {{element.placeholder}} </td>
                        </ng-container>
        
                        <!-- Name Control Type -->
                        <ng-container matColumnDef="controlType">
                            <th mat-header-cell *matHeaderCellDef style="width:15%;"> Control Type </th>
                            <td mat-cell *matCellDef="let element" style="width:15%;"> {{element.controlType}} </td>
                        </ng-container>
        
                        <!-- Name Control Type -->
                        <ng-container matColumnDef="dataType">
                            <th mat-header-cell *matHeaderCellDef style="width:10%;"> Data Type </th>
                            <td mat-cell *matCellDef="let element" style="width:10%;"> {{element.dataType}} </td>
                        </ng-container>
        
                        <!-- Name Control Type -->
                        <ng-container matColumnDef="readOnly">
                            <th mat-header-cell *matHeaderCellDef style="width:10%;"> Read Only </th>
                            <td mat-cell *matCellDef="let element" style="width:10%;"> {{element.readOnly}} </td>
                        </ng-container>
        
                        <!-- Name Control Type -->
                        <ng-container matColumnDef="required">
                            <th mat-header-cell *matHeaderCellDef style="width:10%;"> Required </th>
                            <td mat-cell *matCellDef="let element" style="width:10%;"> {{element.required}} </td>
                        </ng-container>
        
                        <ng-container matColumnDef="Action">
                            <th mat-header-cell *matHeaderCellDef> Action </th>
                            <td mat-cell *matCellDef="let element" style="width:10%;">
                                <mat-icon style="color:#1D4F91;" (click)="fieldAction('Edit',element)">edit</mat-icon>
                                <mat-icon style="color:#FF7F32;" (click)="deleteItem(element.id)">delete</mat-icon>
                            </td>
                        </ng-container>
                    
                        <tr mat-header-row *matHeaderRowDef="displayedColumns" style="height:35px;"></tr>
                        <tr mat-row *matRowDef="let row; columns: displayedColumns;" style="height:35px;"></tr>
                    </table>
                    <div class="mb-4 mt-2">
                        <button mat-raised-button id="primaryColor" class="float-end" (click)="saveRecord()" *ngIf="dataSource.length>0">
                            <mat-icon>add_circle</mat-icon>
                            Assign
                        </button>
                    </div>
                </div>
            </div>
           
        
    </form>
</div>
  
  



